---
import { Icon } from 'astro-icon/components'

---
<div class="flex flex-row gap-4 border-b-4 border-dotted pb-4">
  <img src="/personal.jpg"  class="w-28 h-28 rounded-md border-4 shadow-inner border-[#4682A9] border-opacity-50"/>
  <section class="text-[#4682A9] flex flex-col justify-between">
    <article>
      <h1 class="prose-2xl text-4xl font-bold mb-1 bg-gradient-to-tl from-[#4682A9] to-slate-800 bg-clip-text text-transparent">
        Azzahra Dinda
      </h1>
      <p>
        A woman who actively developing software as an art of solving problem.
      </p>
    </article>
    <div class="flex flex-row">
      <span class=" bg-[#FAFCC2] border-2  p-0.5 border-yellow-700 border-opacity-25 rounded-md">
        <Icon name="carbon:logo-twitter" class="text-xl text-slate-800"/>
      </span>
    </div>
  </section>
</div>
