---
import { Icon } from 'astro-icon/components'

---
<div class="flex flex-col glass text-[#4682A9] justify-center text-center">
  <Icon name="carbon:location-hazard" size={48} class:list='self-center'/>
  <p class="h-fit">Sorry, but this section is under maintenance</p>
</div>
